In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.1.3'

In [3]:
list_s = [1,2,-3,6.2,"Data Values"]
print(list_s)

[1, 2, -3, 6.2, 'Data Values']

In [4]:
series1 = pd.Series(list_s)
print(series1)

0              1
1              2
2             -3
3            6.2
4    Data Values
dtype: object

In [5]:
type(series1)

pandas.core.series.Series

In [6]:
series2 = pd.Series([1,2,3,4])
series2

0    1
1    2
2    3
3    4
dtype: int64

In [25]:
type(series2)

pandas.core.series.Series

In [7]:
empty_S = pd.Series([])
print(empty_S)

Series([], dtype: float64)

<ipython-input-7-6fee38797df8>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_S = pd.Series([])

In [8]:
series3 = pd.Series([1,2,3,4], index = ["a", "b", "c", "d"], dtype = float)
series3

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [9]:
series4 = pd.Series([1,2,3,4], index = ["a", "b", "c", "d"], dtype = float, name = "data values")
series4

a    1.0
b    2.0
c    3.0
d    4.0
Name: data values, dtype: float64

In [10]:
scalar_s = pd.Series(0.5)
scalar_s

0    0.5
dtype: float64

In [11]:
scalar_s = pd.Series(0.5, index =  [1,2,3])
scalar_s

1    0.5
2    0.5
3    0.5
dtype: float64

In [12]:
dict_s = pd.Series({"a": 1, "b": 2})
dict_s

a    1
b    2
dtype: int64

In [13]:
s4 = pd.Series([1,2,3,4,5])
s4

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [14]:
s4[0]

1

In [15]:
s4[3]

4

In [16]:
s4[0:3]

0    1
1    2
2    3
dtype: int64

In [17]:
max(s4)

5

In [18]:
s4[s4 > 3]

3    4
4    5
dtype: int64

In [19]:
s4

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [20]:
s5 = pd.Series([1,2,3,4,5])
print(s5)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [21]:
s4 + s5

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [22]:
s6 = pd.Series([1,2,3])
s6

0    1
1    2
2    3
dtype: int64

In [23]:
s5 + s6

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64

In [24]:
# NaN -> Not a Number